@using InvoicePro.Application.Interfaces
@inject IAuthService _authService
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="InvoicePRO" />
    <meta name="author" content="" />

    <link rel="icon" href="~/Neon/images/favicon.ico">

    <title>InvoicePro</title>

    <link rel="stylesheet" href="~/Neon/js/jquery-ui/css/no-theme/jquery-ui-1.10.3.custom.min.css">
    <link rel="stylesheet" href="~/Neon/css/font-icons/entypo/css/entypo.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic">
    <link rel="stylesheet" href="~/Neon/css/bootstrap.css">
    <link rel="stylesheet" href="~/Neon/css/Neon-core.css">
    <link rel="stylesheet" href="~/Neon/css/Neon-theme.css">
    <link rel="stylesheet" href="~/Neon/css/Neon-forms.css">
    <link rel="stylesheet" href="~/Neon/css/custom.css">
    <link rel="stylesheet" href="~/Neon/js/selectboxit/jquery.selectBoxIt.css">
    <link rel="stylesheet" href="~/Neon/js/dropzone/dropzone.css">

    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.theme.css" />
    <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="~/Neon/js/bootstrap.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/underscore@1.11.0/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>

    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-ui/jquery-ui.js"></script>

    <script src="~/js/jquery.toast.min.js"></script>
    <link href="~/css/jquery.toast.min.css" rel="stylesheet" />
    <script src="~/js/moment.min.js"></script>

    
    <style>
        .sidebar-menu-inner {
            position: unset !important;
        }

        #expand_trigger {
            font-size: 20px;
        }

        .expand_success {
            color: #0ea50a;
            font-size: 20px;
        }

        .expand_danger {
            color: #ec0f0f;
            font-size: 20px;
        }

        .sub_tbl thead th {
            background: lightgray !important;
            color: #000 !important;
        }

        .error {
            color: red;
        }

        .update {
            cursor: pointer;
            border-radius:5px;
        }

        .delete {
            cursor: pointer;
            border-radius:5px;
        }
    </style>

    <script src="~/Neon/js/Neon-custom.js"></script>
</head>
<body class="page-body">
    @{

        var user = _authService.GetCurrentUser();

    }
    <div class="page-container">

        <div class="sidebar-menu fixed">

            <div class="sidebar-menu-inner">

                <header class="logo-env">

                    <!-- logo -->
                    <div id="logo" class="logo" style="margin-left:-15px;margin-top: -17px;">
                        <a href="/">
                            <img src="~/Neon/images/invoice_logo.jpg" width="165" alt="InvoicePRO Web Dashboard" />
                            @*<h2 style="color:#ffffff !important;">AssetPro</h2>*@
                        </a>
                    </div>

                    <!-- logo collapse icon -->
                    <div class="sidebar-collapse">
                        <a href="#" class="sidebar-collapse-icon">
                            <i class="entypo-menu"></i>
                        </a>
                    </div>

                    <div class="sidebar-mobile-menu visible-xs">
                        <a href="#" class="with-animation">
                            <i class="entypo-menu"></i>
                        </a>
                    </div>

                </header>

                <input type="hidden" id="currentUserRole" name="currentUserRole" value="@user.RoleId" />
                <ul id="main-menu" class="main-menu">
                </ul>

            </div>

        </div>
        <div class="main-content">
            <div class="row">
                <!-- Profile Info and Notifications -->
                <div class="col-md-6 col-sm-8 clearfix">

                    <ul class="user-info pull-left pull-none-xsm">

                        <!-- Profile Info -->
                        <li class="profile-info dropdown">

                            <a href="Account/Profile" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Neon/images/blank.png" alt="" class="img-circle" width="44" />
                                <div>
                                    <label style=" margin-bottom: 2px !important;">@user.Name</label><br />
                                    <h5 style=" margin-top: 0px !important;"> @user.EmailAddress</h5>
                                </div>

                            </a>

                            <ul class="dropdown-menu">

                                <li class="caret"></li>

                                <li>
                                    <a href="/Account/Profile">
                                        <i class="entypo-user"></i>
                                        Profile
                                    </a>
                                </li>

                                <li>
                                    <a onclick="return AssetPro.Settings.Logout()" style="cursor:pointer !important;">
                                        <i class="entypo-logout"></i>
                                        Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>

                    </ul>



                </div>
                <div class="col-md-6 col-sm-4 clearfix hidden-xs">

                    <ul class="list-inline links-list pull-right">

                        <!-- Language Selector -->
                        <li class="dropdown language-selector">

                        </li>

                        <li class="sep"></li>

                        <li>
                            <a onclick="return AssetPro.Settings.Logout()" style="cursor:pointer !important;">
                                Log Out <i class="entypo-logout right"></i>
                            </a>

                        </li>
                    </ul>

                </div>
            </div>
            <hr />
            <div id="loader" style="display:none;">
                <img id="loading-image-logo" src="~/Neon/images/loader.gif" width="128" height="128" alt="Loading...">
            </div>
            @RenderBody()

            <!-- Footer -->
            <footer class="main">  Copyright &copy; 2022 <a href="#" target="_blank">InvoicePRO | Dashboard</a>. All rights reserved.  </footer>
        </div>
    </div>


    <link rel="stylesheet" href="~/Neon/js/datatables/datatables.css">
    <link rel="stylesheet" href="~/Neon/js/select2/select2-bootstrap.css">
    <link rel="stylesheet" href="~/Neon/js/select2/select2.css">
    <!-- Bottom scripts (common) -->
    <script src="~/Neon/js/gsap/TweenMax.min.js"></script>
    <script src="~/Neon/js/jquery-ui/js/jquery-ui-1.10.3.minimal.min.js"></script>
    <script src="~/Neon/js/joinable.js"></script>
    <script src="~/Neon/js/resizeable.js"></script>
    <script src="~/Neon/js/Neon-api.js"></script>


    <!-- Bottom scripts (select2) -->
    <script src="~/Neon/js/selectboxit/jquery.selectBoxIt.min.js"></script>
    <script src="~/Neon/js/datatables/datatables.js"></script>
    <script src="~/Neon/js/select2/select2.js"></script>
    <script src="~/Neon/js/bootstrap-tagsinput.min.js"></script>
    <script src="~/Neon/js/typeahead.min.js"></script>

    <!-- Imported scripts on this page -->
    <script src="~/Neon/js/fileinput.js"></script>
    <script src="~/Neon/js/dropzone/dropzone.js"></script>
    <script src="~/Neon/js/bootstrap-switch.min.js"></script>
    <script src="~/Neon/js/bootstrap-datepicker.js"></script>

    <!-- JavaScripts initializations and stuff -->


    <script src="~/Neon/js/jquery.validate.min.js"></script>
    <script src="~/Neon/js/jquery.sparkline.min.js"></script>
    <script src="~/Neon/js/rickshaw/vendor/d3.v3.js"></script>
    <script src="~/Neon/js/rickshaw/rickshaw.min.js"></script>
    <script src="~/Neon/js/raphael-min.js"></script>
    <script src="~/Neon/js/toastr.js"></script>
    <script src="~/Neon/js/neon-chat.js"></script>


    @*<script src="~/ckeditor.js"></script>*@

    <script src="~/ckeditor5/build/ckeditor.js"></script>
    @*<script src="~/Neon/js/ckeditor/adapters/jquery.js"></script>*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

    <script src="~/lib/js-tree/jstree.js"></script>
    <script src="~/lib/js-tree/jstree.checkbox.js"></script>
    <script src="~/js/common/http.js"></script>
    <script src="~/js/common/local-storage-service.js"></script>

    <script src="~/js/site.js"></script>
    <script src="~/js/role.js"></script>
    <script src="~/js/dashboard.js"></script>
    <script src="~/js/inviteUser.js"></script>
    <script src="~/js/employee.js"></script>
    <script src="~/js/department.js"></script>
    <script src="~/js/designation.js"></script>
    <script src="~/js/asset_type.js"></script>
    <script src="~/js/customerType.js"></script>
    <script src="~/js/productType.js"></script>
    <script src="~/js/product.js"></script>
    <script src="~/js/customer.js"></script>
    <script src="~/js/asset_status.js"></script>
    <script src="~/js/maintenance_type.js"></script>
    <script src="~/js/order.js"></script>

    @*@RenderSection("Scripts", required: false)*@

    <div class="modal fade" id="confirm_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirm Delete</h4>
                </div>

                <div class="modal-body" style="color:#373e4a !important;">
                    <p>You are about to delete one record, this procedure is irreversible.</p>
                    <p>Do you want to proceed?</p>
                </div>
                <input type="hidden" id="modal_entity_id" value="" />
                <input type="hidden" id="modal_sql_table_id" value="" />
                <input type="hidden" id="modal_component_id" value="" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger btn-ok" onclick=AssetPro.Settings.DeleteConfirm()>Delete</a>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
        
           

            //$n = $this.next();
            //$p = $this.prev();
            //if ($n.is('.input-group-addon') && $n.has('a')) {
            //    $n.on('click', function (ev) {
            //        ev.preventDefault();

            //        $this.datepicker('show');
            //    });
            //}

            //if ($p.is('.input-group-addon') && $p.has('a')) {
            //    $p.on('click', function (ev) {
            //        ev.preventDefault();

            //        $this.datepicker('show');
            //    });
            //}
        });
    </script>

    @RenderSection("scripts", required: false)

    <style>
        #ui-datepicker-div {
            z-index: 99999 !important;
        }
    </style>
</body>
</html>


